<div class="continuum-column-start">
	{{>MainMenuPinned}}
	{{#data-toc}}
	<nav id="mw-panel-toc" aria-label="{{ msg-continuum-toc-label }}" data-event-name="ui.sidebar-toc" class="mw-table-of-contents-container continuum-toc-landmark">
		{{#data-toc-pinnable-container}}
		{{>PinnableContainer/Pinned/Open}}
			{{#is-pinned}}
				{{#data-toc}}{{>TableOfContents}}{{/data-toc}}
			{{/is-pinned}}
		{{>PinnableContainer/Close}}
		{{/data-toc-pinnable-container}}
	</nav>
	{{/data-toc}}
</div>
