@import '../variables.less';
.continuum-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-color: @icon-color;
}
.continuum-icon.mw-ui-icon-tray {
    width: 20px;
    height: 20px;
}
.continuum-icon.mw-ui-icon-bell {
    width: 20px;
    height: 20px;
}
.continuum-icon.mw-ui-icon-listBullet {
    width: 20px;
    height: 20px;
}
.continuum-icon.mw-ui-icon-menu {
    width: 20px;
    height: 20px;
}
.continuum-icon.mw-ui-icon-appearance {
    width: 20px;
    height: 20px;
}
.continuum-icon.mw-ui-icon-watchlist {
    width: 20px;
    height: 20px;
}
#continuum-main-menu-dropdown .continuum-icon {
    width: 1em;
    height: 1em;
}
.continuum-icon.mw-ui-icon-userAvatar {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-color: @icon-color;
}
.continuum-icon.mw-ui-icon-menu {
    width: 20px !important;
    height: 20px !important;
}
.continuum-icon span {
    margin: auto;
}
.mw-helplink-icon {
    background: @icon-color !important;
}