figure[typeof~='mw:File/Thumb'] > figcaption, figure[typeof~='mw:File/Frame'] > figcaption {
    border: 2px solid @accent-primary !important;
    border-top: 0;
    font-size: 88.40000000000001%;
    color: @text-subtle !important;
    background: @bg-alt !important;
    color: @accent-primary !important;
}