@import "../variables.less";
@import "../typography.less";

.mw-lingo-tooltip {
    color: @color-white !important;
    background-color: @bg-panel !important;
    border: 1px solid @accent-primary;
    font-family: @font-monospace !important;
}