/**
 * PinnableElement
 * Pinned containers are typically dropdown menus that have been
 * placed in a sidebar column, e.g. page tools menu, main menu.
 */

.continuum-pinnable-element {
	font-size: @font-size-dropdown;
}

.continuum-pinned-container {
	.mixin-continuum-content-box();
	padding: 0 @padding-horizontal-dropdown-menu;
	margin-bottom: 2rem;
	display: none;
	background-color: transparent;
	// If there is no display grid support we remove pinnable elements
	@supports ( display: grid ) {
		display: block;
	}
}

.continuum-column-start,
.continuum-column-end {
	// Keep pinned content in normal flow without sticky positioning.
	box-sizing: border-box;
}

@media ( max-width: @max-width-breakpoint-tablet ) {
	/**
 	 * At lower resolutions, we want to hide the pinned containers when JS is enabled since these
 	 * elements collapse (become unpinned) at this resolution via PinnableElement.js.
 	 * Although this is handled in JS, this rule prevents the pinned menu from
 	 * appearing on pageload, at low resolutions, before the JS kicks in.
 	 */
	.client-js .continuum-pinned-container {
		display: none;
	}
}
