.ui-ooMenu-item {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    cursor: pointer;
    background-color: @bg-alt !important;


    .suggestions-special {
        .special-label {
            font-size: 0.9em;
            color: @accent-alt !important;
        }
        .special-query {
            font-size: 0.8em;
            color: @text-subtle !important;
        }
    }
}
.ui-suggester-list a {
    color: @accent-primary !important;
}