// forum.less
@import '../variables.less';

th.mw-wikiforum-title, th.mw-wikiforum-value, th.mw-wikiforum-lastpost  {
    background-color: @bg-interactive;
    border-top: 2px solid @accent-active;
    border-bottom: 2px solid @accent-active;
}
td.mw-wikiforum-title {
    background-color: @bg-alt;
    color: @color-white;
}
.mw-wikiforum-frame {
    clear: both;
    width: 100%;
    background: @bg-alt;
    border: 3px solid @accent-alt;
    border-radius: 12px;
    border-collapse: separate;   /* allow radius */
    overflow: hidden;            /* clip inner cells */
}
#mw-wikiforum-searchbox-border {
    border: 1px solid @accent-primary;
    width: 200px;
    text-align: left;
    background: @bg-alt;
    border-radius: 8px;
}
.mw-wikiforum-admin, .mw-wikiforum-value, .mw-wikiforum-lastpost {
    background: @bg-interactive;
    color: @color-white;
}
td.mw-wikiforum-thread-main {
    border: 1px solid @accent-alt;
    background: @bg-interactive;
}
th.mw-wikiforum-thread-top{
    border: 1px solid @accent-alt;
    background: @bg-panel;
}
td.mw-wikiforum-thread-main, td.mw-wikiforum-thread-sub {
    word-wrap: break-word;
    word-break: normal;
    table-layout: fixed;
}

td.mw-wikiforum-value {
    border-bottom: 1px solid #a3bfb1;
    text-align: center;
    font-family: @font-body;
    font-size: 10px;
    background-color: @bg-alt;
}
.mw-wikiforum-searchbox {
    background: none;
    border: none;
    border-radius: 4px;
}
label {
    border-radius: 4px;
}
input#mw-wikiforum-searchbox-text {
    border-radius: 4px;
}