.wikibase-statementgroupview-property {
    background: @bg-panel;
}
.wikibase-statementgrouplistview .wikibase-statementlistview {
    position: relative;
    background-color: @bg-alt !important;
    float: left;
    margin-left: 15em;
    width: calc(100% - 15em - 2px);
    border: 1px solid var(@accent-alt);
    border-radius: 4px;
}

table.wikibase-entitytermsforlanguagelistview {
    background-color: @bg-panel;
}
.wikibase-entitytermsforlanguagelistview .wikibase-entitytermsforlanguagelistview-header .wikibase-entitytermsforlanguagelistview-header-row .wikibase-entitytermsforlanguagelistview-cell {
    background-color: @bg-main !important;
    border-right: 1px solid @accent-alt !important;
    padding-left: 0.4em;
    position: sticky;
    top: 0;
}
.wikibase-statementgrouplistview .wikibase-statementgroupview-property.wb-edit, .wikibase-statementgroupview-property.wb-edit + .wikibase-statementlistview > .wikibase-toolbar-wrapper {
    background-color: @bg-panel !important;
}
.wikibase-referenceview {
    position: relative;
    background: @bg-light !important;
    overflow: hidden;
    margin-bottom: 0.5em;
}
.wikibase-referenceview.wb-edit > .wikibase-referenceview-heading {
    background-color: @bg-panel !important;
    display: block;
}
.wikibase-statementgroupview .wikibase-statementgroupview-property {
    border: 1px solid @accent-alt !important;
    border-right: 0;
}
.wikibase-statementgrouplistview .wikibase-statementgroupview-property {
    width: 15em;
    background: @bg-panel !important;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.wikibase-statementlistview > .wikibase-toolbar-wrapper {
    background: @bg-panel !important;
    display: block;
    float: left;
    position: relative;
    width: 100%;
}
.wb-propertypage .wikibase-propertyview-datatype {
    background-color: @bg-panel !important;
    border: 1px solid @accent-alt !important;
    border-collapse: separate;
    float: left;
    width: 100%;
}
.wikibase-statementview-qualifiers .wikibase-snaklistview .wikibase-snaklistview-listview .wikibase-snakview-value-container .wikibase-snakview-body {
    margin-left: 1rem;
    margin-right: 1em !important;
    word-wrap: break-word;
}