<ul class="continuum-toc-contents" id="mw-panel-toc-list">
	<li id="toc-mw-content-text"
		class="continuum-toc-list-item continuum-toc-level-1">
		<a href="#" class="continuum-toc-link">
			<div class="continuum-toc-text">{{ msg-continuum-toc-beginning }}</div>
		</a>
	</li>
	{{#array-sections}}
	{{>TableOfContents__line}}
	{{/array-sections}}
</ul>
